<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />

  <node 
		pkg="m_detector"
		type="delete_point"
		name="delete_point"
		output="screen"

	/>
  <arg name="arg1" default="0.55"/>
  <param name="icp_threshold" value="$(arg arg1)" />
  <param name="data_num" type="int" value = "1"/>
  <param name="calc_gt_enable" type="bool" value = "false"/>
  <param name="data_name" type="string" value = "1"/>
  <param name="setting_path" type="string" value = "$(find m_detector)/config/config_velo_nclt.yaml"/>
  <rosparam command="load" file="$(find m_detector)/config/load_config_test.yaml" />
  <param name="root_dir" type="string" value = "/home/weihairuo/bag/"/>
  <param name="load_dir" type="string" value = "/home/weihairuo/bag/pose_correct/"/>
  <param name="save_dir" type="string" value = "/home/weihairuo/bag/pcd_correct/"/>
  <!--   <param name="load_dir" type="string" value = "/home/weihairuo/Fast-lio2/"/> -->
    <param name="loop_gt_file" type="string" value = "/home/weihairuo/bag/pose_correct/1.txt"/>
 launch-prefix="gdb -ex run --args"
<!--   <group if="$(arg rviz)"> -->
<!--     <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find m_detector)/rviz_cfg/multi_section.rviz" /> -->
<!--   </group> -->

</launch>